/* Meu primeiro arquivo CSS */

/* tags */
p{
	color: white;
	font-size: 20px;
	font-family: Helvetica;
	text-shadow: 1px 1px 1px #111111;
}

body{
	background-color: #8B008B;
}

*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, "New Times Roman";
}

header{
	background-color: #35b8b0;
	height: 90px;
	padding: 10px;
}

footer{
	clear: both;
	background-color: #35b8b0;
	height: 45px;
	text-align: center;
	padding: 10px;
}

h1{
	color: #00FF7F;
	text-shadow: 1px 1px 1px #111111;
	text-align: center;
	margin: 0 0 40px 0;
}

/* ids */
#principal{
	background-image: url('city.jpeg');
	clear: both;
	background-size: 100%;
	min-height: 900px;
	padding: 70px 0 0 0;
}

#logo{
	float: left;
}

#menu{
	margin-top: 35px;
	float: right;
}

#menu a{
	padding: 48px 20px;
	text-decoration: none;
	color: #111;
	text-shadow: 1px 1px #111111;
}

#menu a:hover{
	background-color: #363636;
	color: #35b8b0;
}

/* class */
.container{
	width: 960px;
	margin: 0 auto;
}

.efeito{
	background-color:rgba(0, 0, 0, 0.5);
}